upstream app_upstream {
  server ${APP_DOMAIN_INTERNAL}:${APP_PORT_INTERNAL};
}

upstream api_upstream {
  server ${API_DOMAIN_INTERNAL}:${API_PORT_INTERNAL};
}

upstream auth_upstream {
  server ${AUTH_DOMAIN_INTERNAL}:${AUTH_PORT_INTERNAL};
}

server {
    listen 80 default_server;
    listen [::]:80;

    server_name ${DOMAIN};

    location /nginx_status {
        stub_status;
    }

    location / {
        return 302 http://${APP_DOMAIN}$request_uri;
    }
}

server {
    listen 80;
    listen [::]:80;

    server_name ${APP_DOMAIN};

    location / {
        proxy_pass http://app_upstream;
    }
}

server {
    listen 80;
    listen [::]:80;

    server_name ${AUTH_DOMAIN};

    location / {
        proxy_pass http://auth_upstream;
    }
}

server {
    listen 80;
    listen [::]:80;

    server_name ${API_DOMAIN};

    location / {
        proxy_pass http://api_upstream;
    }
}