server {
    listen 80 default_server;
    listen [::]:80;

    server_name ${DOMAIN};

    location /.well-known/acme-challenge/ {
        root /usr/share/nginx/acme;
    }

    location /nginx_status {
        allow 127.0.0.1;
        deny all;

        stub_status;
    }
}