server {
    listen 80 default_server;
    listen [::]:80;

    server_name ${NGINX_INVMAN_APP_HOST};

    location / {
        proxy_pass ${NGINX_INVMAN_NEXT_JS_HOST};
    }
}

server {
    listen 80;
    listen [::]:80;

    server_name ${NGINX_INVMAN_AUTH_HOST};

    location / {
        proxy_pass ${NGINX_INVMAN_AUTH_APP_HOST};
    }
}

server {
    listen 80;
    listen [::]:80;

    server_name ${NGINX_INVMAN_API_HOST};

    location / {
        proxy_pass ${NGINX_INVMAN_GRAPHQL_HOST};
    }
}