{{define "content"}}

This email allows you to reset your password
<br><br>
Please use the link below.
<br>
<i>This link is available for 1 hours.</i>
<br>
<table>
    <tr>
        <td
            style="background: #3b82f6; text-align: center; padding-top:10px;padding-right:15px;padding-bottom:10px;padding-left:15px;">
            <a href="{{ .ref }}" style="text-decoration: none;">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span style="color:white; font-weight: 900">Reset your password</span>
                &nbsp;&nbsp;&nbsp;&nbsp;
            </a>
        </td>
    </tr>
</table>


{{end}}