<div style="background: #1e293b; padding: 10px; color: white;">
    Hi {{ .username }},<br><br>
    You can reset your password by following the link below.
    <br><br>
    <table>
        <tr>
            <td
                style="background: #6366f1; text-align: center; padding-top:10px;padding-right:15px;padding-bottom:10px;padding-left:15px;">
                <a href="{{ .ref }}" style="text-decoration: none;">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span style="color:white; font-weight: 900">Reset your password</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </a>
            </td>
        </tr>
    </table>
    <br>
    <i>This link is available for 1 hours.</i>
</div>