{{define "title"}}Reset password{{end}}
{{define "content"}}

<form>
    <p>
        <label>Password *</label>
        <br>
        <input type="password" name="password" placeholder="Password" placeholder="Password" maxlength="50" required>
    </p>
    <p>
    <div id="succ" class="success"></div>
    <div id="err" class="error"></div>
    </p>
    <button id="btn-reset_password" type="submit" class="btn-primary">
        Reset password
    </button>
</form>

<script>
    const err = document.getElementById("err");
    const succ = document.getElementById("succ");
    const form = document.querySelector("form");

    const btn = document.getElementById("btn-reset_password");


    form.addEventListener("submit", async (event) => {
        event.preventDefault();

        btn.setAttribute("disabled", true);

        fetch(window.location.href, {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
            },
            body: new URLSearchParams(new FormData(form)),
        }).then((res) => {
            res.json().then((data) => {
                if (res.ok) {
                    displaySuccess(data.message);
                } else {
                    displayError(data.message);
                }
            }).catch((err) => {
                displayError("Something went wrong");
            })
        }).catch((err) => {
            displayError("Something went wrong");
        });
    });

    function displayError(msg) {
        err.innerHTML = msg;
        succ.innerHTML = "";

        btn.removeAttribute("disabled");
    }

    function displaySuccess(msg) {
        err.innerHTML = "";
        succ.innerHTML = msg;
    }

</script>

{{end}}