<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Register</title>
</head>

<body class="bg-slate-800">
    <div class="grid h-full w-full absolute place-items-center">
        <div class="text-slate-100 rounded-lg p-4 shadow-lg border border-slate-100/20 max-w-[20rem] w-full">
            <p class="text-xl">Register</p>

            <form action="/register" method="POST">
                <p class="text-lg mt-6">Group</p>
                 <div>
                    <label class="block" for="email">Group name *</label>
                    <input 
                        id="group_name"
                        type="text" 
                        name="group_name" 
                        class="p-2 border shadow-sm text-black border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-indigo-500 focus:ring-indigo-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none" 
                        placeholder="MyCompany inc."
                        minlength="3" maxlength="50" required
                    >
                </div>
                <p class="text-lg mt-6">Account</p>
                <div>
                    <label class="block" for="nickname">Nickname *</label>
                    <input 
                        id="admin_nickname"
                        type="text" 
                        name="admin_nickname" 
                        class="p-2 border shadow-sm text-black border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-indigo-500 focus:ring-indigo-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none" 
                        placeholder="Admin"
                        minlength="3" maxlength="25" required
                    >
                </div>
                <div class="mt-6">
                    <label class="block" for="admin_email">Email *</label>
                    <input 
                        id="admin_email"
                        type="email" 
                        name="admin_email" 
                        class="p-2 border shadow-sm text-black border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-indigo-500 focus:ring-indigo-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none" 
                        placeholder="Nickname"
                        minlength="6" maxlength="100" required
                    >
                </div>
                <div class="mt-6">
                    <label class="block" for="password">Password *</label>
                    <input 
                        id="admin_password"
                        type="password" 
                        name="admin_password" 
                        class="p-2 border shadow-sm text-black border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-indigo-500 focus:ring-indigo-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none" 
                        placeholder="Password"
                        minlength="6" maxlength="50" required
                    >
                </div>
                <p class="my-6 text-red-700">
                    {{.Error}}
                </p>
                <div class="flex items-center">
                    <button 
                        type="submit"
                        class="mr-1 w-full p-2 bg-indigo-500 text-slate-100 rounded-md flex items-center justify-center min-h-8 h-full"
                    >Sign up</button>
                    <button 
                        type="button"
                        class="ml-1 w-full p-2 bg-gray-500 text-slate-100 rounded-md flex items-center justify-center min-h-8 h-full"
                        onclick="window.history.back()"
                    >Go back</button>
                    
                </div>
                
            </form>
        </div>
    </div>
</body>

</html>