@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 16px;
    min-height: 100vh;
}

html.dark {
    background-image: linear-gradient(to top right, #0f0c2910, #302b6375, #0f0c2910);
}

html.light {
    background-image: linear-gradient(to top right, #0f0c290c, #221c5a1f, #0f0c290c);
}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
}